//全部
.header-popover {
  padding: 4px 4px 6px;

  .title {
    width: 180px;
    font-size: 16px;
  }

  .tag {
    padding: 8px 0;

    ::v-deep .el-tag {
      font-size: 10px;
      border-radius: 2px;
      padding: 0 6px;
      height: 18px;
      line-height: 16px;
    }

    ::v-deep .el-tag--warning {
      border-color: #FF4400;
      color: #FF4400;
    }

    ::v-deep .el-tag--info {
      border-color: #999999;
      color: #999999;
    }
  }

  .date {
    font-size: 12px;
    color: #999;
  }

  .divider {
    margin: 18px 0;
  }

  .change-campus {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 14px;
    color: #999;

    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;

      .iconfont {
        font-size: 14px;
      }
    }

    .icon-qiehuan {
      font-size: 14px;
      color: #0673FF;
    }


  }

  .left {
    vertical-align: center;
  }
}


.school-admin {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
  //min-width: 900px;
  .main {
    margin: 0 0 0 108px;
    overflow: hidden;

    .hover-menu {
      display: none;
      position: absolute !important;
      z-index: 1999 !important;
    }

    .show-hover-menu {
      display: block;
    }

    .left-slider-son-menu {
      background: #f7f7f9;
      width: 120px;
      overflow: auto;
      height: calc(100vh - 76px);
      position: fixed;
      left: 108px;
      top: 76px;
      z-index: 1998;
      padding: 0 6px;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);

      &::after {
        content: "";
        background: url("assets/img/side/chamfer.png");
        background-size: 24px 24px;
        position: absolute;
        width: 24px;
        height: 24px;
        top: 0;
        left: 0;
        z-index: 1001;
      }

      .menu-name {
        font-size: 23px;
        color: #3D3D3D;
        padding: 24px 0 16px;
        text-align: center;
        line-height: 32px;
      }

      //第二个侧边栏里面每个li的高度
      .two-layout-slider-item {
        margin-bottom: 4px;

        .title {
          display: block;
          color: #666666;
          text-decoration: none;
          padding: 10px 0 10px 26px;
          line-height: 20px;
          border-radius: 8px;
          font-weight: 500;
        }

        .title:hover {
          background: #E6EEFA;
          color: #666;
        }

        /*三级侧边栏选中后加这个类*/

        .active {
          background: #E6EEFA;
          color: var(--brand-1) !important;
        }
      }

      .two-layout-slider-item:hover {
        a {
          color: #1774FF;
        }
      }
    }
  }
}


//最左边黑色菜单栏
.left-slider-menu::-webkit-scrollbar {
  display: none;
}

.left-slider-menu {
  color: rgba(255, 255, 255, 0.65);
  background: #eff1f8;
  width: 108px;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 2000;

  .school-logo {
    height: 76px;
    background: #eff1f8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    //padding: 7px;

    .popover-img {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .version-logo {
      position: absolute;
      bottom: 10px;
      right: 27px;

      i {
        font-size: 20px;
        color: var(--fill-2);
      }
    }
  }

  .slider-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 76px);
    padding: 8px 9px 0;

    .menu-list {
      height: 100%;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 0;
        z-index: 2000;
      }


      .menu-item {
        width: 90px;
        padding: 12px 0 12px 16px;
        height: 44px;
        line-height: 42px;
        color: var(--text-3);
        display: flex;
        align-items: center;

        .logo {
          font-size: 20px;
          width: 18px;
          height: 20px;
          line-height: 20px;
          margin-right: 12px;
        }

        .name {
          font-size: 14px;
          line-height: 20px;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &:hover {
          color: var(--brand-1);
        }
      }

      .is-active {
        .logo {
          color: var(--brand-1);
        }

        .name {
          color: var(--brand-1);
        }
      }

      .menu-line {
        margin: 16px auto;
        width: 46px;
        height: 1px;
        background-color: var(--line-2);
      }
    }

    .bottom {
      width: 108px;
      position: relative;
      text-align: center;
      padding-top: 8px;
      padding-bottom: 10px;
      margin: 0 -15px;
      color: var(--text-3);
      font-weight: 500;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.06);

      .version {
        margin-top: 5px;
        color: var(--text-4);
      }
    }

  }

  .menu::-webkit-scrollbar {
    display: none;
  }

  .menu {
    overflow-y: auto;
    height: 100%;
  }
}

//主体滚动条样式修改


.ss-main {
  //border-top-left-radius: 24px;
  height: calc(100vh - 76px);
  width: calc(100% - 144px);
  overflow-y: auto;
  overflow-x: auto;
  background: #f7f7f9;
  margin: 76px 0 10px 144px;
  padding: 24px 0 10px;
  //padding: 86px 0 10px 156px;
  position: relative;
  //白色菜单栏


  .main-main {
    flex: 1;
    margin-right: 10px;
    min-width: 1200px;
  }
}


.hiddenHelp {
  display: block !important;
}

/* 媒体查询 当屏幕小于1305时隐藏  帮助与客服 */
@media only screen and (max-width: 1305px) {
  //.main {
  //  transition: all 0.5s ease;
  //  margin-right: 0px !important;
  //}
  .ss-right-slider {
    transition: all 0.5s ease;
    transform: translateX(360px);
    //display: none;
  }

}

/* 媒体查询 当屏幕大于1305时隐藏  帮助与客服 */
@media only screen and (min-width: 1305px) {
  //.main {
  //  transition: all 0.5s ease;
  //  margin-right: 0px;
  //}
  .ss-right-slider {
    transition: all 0.5s ease;
    transform: translateX(0);
    display: block;
  }

}


.right {
  .ss-right-slider {
    height: calc(100vh);
    background: #fff;
    width: 360px;
    position: fixed;
    right: 7px;
    top: 0;
    z-index: 2000;
    //border-top-left-radius: 8px;
    //border-bottom-left-radius: 8px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -7px;
      height: 76px;
      width: 7px;
      background: #f3f4f8;
    }

    .help {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 32px;
      font-size: 24px;
      font-weight: 500;
      color: #333;
      padding: 20px;
      border-bottom: 1px solid var(--line-3);
    }

    .help-body {
      padding: 0 20px;

      .server {
        padding: 24px 0;
        display: flex;
        border-bottom: 1px solid var(--line-3);

        img {
          width: 52px;
          height: 52px;
          border-radius: 50%;
          margin-right: 12px;
        }

        .server-left {
          .name {
            line-height: 24px;
            font-size: 16px;
            font-weight: 500;
            color: #333;
          }

          .title {
            margin-top: 6px;
            line-height: 22px;
            font-size: 14px;
            color: var(--text-3);
          }
        }
      }

      .server-mobile {
        padding: 16px 0;
        line-height: 22px;
        color: var(--text-3);
      }

      .help-path {
        font-size: 16px;
        line-height: 24px;
        padding: 28px 0;
        border-bottom: 1px solid var(--line-3);
      }

      .help-cell {
        margin-top: 24px;

        .title {
          width: 100%;
          margin-top: 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .content {
            width: 230px;
          }
        }

        &:first-child {
          margin-top: 28px;
        }
      }
    }
  }
}

//点击右侧边栏会出来 是因为加了这个类
.showClassSlider {
  transition: all 0.5s ease;
  transform: translateX(0);
  box-shadow: 0 4px 16px 0 rgba(205, 214, 234, 0.35);
}

.hiddenSlider {
  transition: all 0.5s ease;
  transform: translateX(366px) !important;
  box-shadow: none;
}

//帮助与服务的类
.helpShowHeaderClass {
  transition: all 0.5s ease;
  width: calc(100% - 476px) !important;
}

.helpCloseHeaderClass {
  transition: all 0.5s ease;
  width: calc(100% - 108px) !important;
}

//帮助与服务的类
.helpShowMainClass {
  transition: all 0.5s ease;
  //width: calc(100% - 286px) !important;
  padding-right: 360px !important;
}

.helpCloseMainClass {
  transition: all 0.5s ease;
  //width:100% !important;
  padding-right: 0 !important;
}

.helpShowClass {
  display: none;
}


.versions-card {
  padding: 16px;
  color: var(--text-2);
  line-height: 22px;

  .card-path {
    margin-top: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;

    a {
      padding-right: 24px;
      border-right: 1px solid var(--fill-4);

      &:last-child {
        padding-left: 24px;
        border-right: none;
      }
    }
  }
}
